<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxh.mapper.PostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxh.pojo.Post">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="img" property="img" />
        <result column="text" property="text" />
        <result column="time" property="time" />
        <result column="look" property="look" />
        <result column="username" property="username" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,title,img,text,time,look,username
    </sql>

</mapper>
